# Case Study
# Sijie Li

## 1. Initial Data Preparation

In [ ]:
!pip install yfinance

In [2]:
import yfinance as yf

In [1]:
stock_list = ['SPY', 'AGG', 'F', 'GM', 'UBER','TSLA','GOOG',
'SNAP',
'VOW3.DE',
'EXSA.DE',
'EURUSD=X',
'EURUSD=F',
'GD=F',
'DB',
'ABB']
print('stock_list:', stock_list)

stock_list: ['SPY', 'AGG', 'F', 'GM', 'UBER', 'TSLA', 'GOOG', 'SNAP', 'VOW3.DE', 'EXSA.DE', 'EURUSD=X', 'EURUSD=F', 'GD=F', 'DB', 'ABB']

In [3]:
data = yf.download(stock_list, start="2015-12-31", end="2021-12-31",interval = "1wk")
print('data fields downloaded:', set(data.columns.get_level_values(0)))
data

[*********************100%***********************]  15 of 15 completed

1 Failed download:
- EURUSD=F: No data found for this date range, symbol may be delisted
data fields downloaded: {'Volume', 'High', 'Low', 'Close', 'Adj Close', 'Open'}

                           Adj Close                                          \
                                 ABB         AGG        DB EURUSD=F EURUSD=X
Date
2019-05-06 00:00:00-04:00  16.746504  101.046242  7.573730      NaN      NaN
2019-05-13 00:00:00-04:00  17.218025  101.381027  7.294647      NaN      NaN
2019-05-20 00:00:00-04:00  17.081949  101.734367  6.909706      NaN      NaN
2019-05-27 00:00:00-04:00  16.492294  102.654892  6.627897      NaN      NaN
2019-06-03 00:00:00-04:00  17.444817  102.775780  6.618107      NaN      NaN
...                              ...         ...       ...      ...      ...
2020-12-18 00:00:00-05:00        NaN         NaN       NaN      NaN      NaN
2021-03-19 00:00:00-04:00        NaN         NaN       NaN      NaN      NaN
2021-06-18 00:00:00-04:00        NaN         NaN       NaN      NaN      NaN
2021-09-17 00:00:00-04:00        NaN         NaN       NaN      NaN      NaN
2021-12-17 00:00:00-05:00        NaN         NaN       NaN      NaN      NaN

                                                                               \
                          EXSA.DE         F        GD=F         GM       GOOG
Date
2019-05-06 00:00:00-04:00     NaN  9.633222  435.649994  36.196560  58.213501
2019-05-13 00:00:00-04:00     NaN  9.549695  442.600006  35.346336  58.115002
2019-05-20 00:00:00-04:00     NaN  9.122790  426.549988  33.550362  56.673500
2019-05-27 00:00:00-04:00     NaN  8.835093  407.500000  31.849915  55.181499
2019-06-03 00:00:00-04:00     NaN  9.057827  406.750000  33.903824  53.301998
...                           ...       ...         ...        ...        ...
2020-12-18 00:00:00-05:00     NaN       NaN         NaN        NaN        NaN
2021-03-19 00:00:00-04:00     NaN       NaN         NaN        NaN        NaN
2021-06-18 00:00:00-04:00     NaN       NaN         NaN        NaN        NaN
2021-09-17 00:00:00-04:00     NaN       NaN         NaN        NaN        NaN
2021-12-17 00:00:00-05:00     NaN       NaN         NaN        NaN        NaN

                           ...  Volume                                    \
                           ... EXSA.DE            F     GD=F          GM
Date                       ...
2019-05-06 00:00:00-04:00  ...     NaN  184518100.0  10176.0  41185300.0
2019-05-13 00:00:00-04:00  ...     NaN  193711900.0   3829.0  47884400.0
2019-05-20 00:00:00-04:00  ...     NaN  176327700.0     89.0  58182300.0
2019-05-27 00:00:00-04:00  ...     NaN  132928800.0    182.0  45136500.0
2019-06-03 00:00:00-04:00  ...     NaN  166375500.0   2662.0  49810900.0
...                        ...     ...          ...      ...         ...
2020-12-18 00:00:00-05:00  ...     NaN          NaN      NaN         NaN
2021-03-19 00:00:00-04:00  ...     NaN          NaN      NaN         NaN
2021-06-18 00:00:00-04:00  ...     NaN          NaN      NaN         NaN
2021-09-17 00:00:00-04:00  ...     NaN          NaN      NaN         NaN
2021-12-17 00:00:00-05:00  ...     NaN          NaN      NaN         NaN

                                                                  \
                                  GOOG         SNAP          SPY
Date
2019-05-06 00:00:00-04:00  138496000.0   93708200.0  559396700.0
2019-05-13 00:00:00-04:00  174530000.0  109419500.0  455352700.0
2019-05-20 00:00:00-04:00  114770000.0  111183700.0  313209100.0
2019-05-27 00:00:00-04:00  107258000.0  123422200.0  324388900.0
2019-06-03 00:00:00-04:00  272762000.0  202772700.0  388532200.0
...                                ...          ...          ...
2020-12-18 00:00:00-05:00          NaN          NaN          NaN
2021-03-19 00:00:00-04:00          NaN          NaN          NaN
2021-06-18 00:00:00-04:00          NaN          NaN          NaN
2021-09-17 00:00:00-04:00          NaN          NaN          NaN
2021-12-17 00:00:00-05:00          NaN          NaN          NaN


                                   TSLA         UBER VOW3.DE
Date
2019-05-06 00:00:00-04:00  6.129210e+08  186322500.0     NaN
2019-05-13 00:00:00-04:00  7.597980e+08  220530800.0     NaN
2019-05-20 00:00:00-04:00  1.468485e+09   69021400.0     NaN
2019-05-27 00:00:00-04:00  6.092205e+08   77113700.0     NaN
2019-06-03 00:00:00-04:00  1.149426e+09   97705400.0     NaN
...                                 ...          ...     ...
2020-12-18 00:00:00-05:00           NaN          NaN     NaN
2021-03-19 00:00:00-04:00           NaN          NaN     NaN
2021-06-18 00:00:00-04:00           NaN          NaN     NaN
2021-09-17 00:00:00-04:00           NaN          NaN     NaN
2021-12-17 00:00:00-05:00           NaN          NaN     NaN

[1053 rows x 90 columns]

### Prompt 2: Data wrangling

In [4]:
import pandas as pd
import os
import csv

In [5]:
data['Adj Close'].head()

,ABB,AGG,DB,EURUSD=F,EURUSD=X,EXSA.DE,F,GD=F,GM,GOOG,SNAP,SPY,TSLA,UBER,VOW3.DE
Date,,,,,,,,,,,,,,,
2019-05-06 00:00:00-04:00,16.746504,101.046242,7.573730,NaN,NaN,NaN,9.633222,435.649994,36.196560,58.213501,10.49,271.968994,15.968000,41.570000,NaN
2019-05-13 00:00:00-04:00,17.218025,101.381027,7.294647,NaN,NaN,NaN,9.549695,442.600006,35.346336,58.115002,11.49,269.835510,14.068667,41.910000,NaN
2019-05-20 00:00:00-04:00,17.081949,101.734367,6.909706,NaN,NaN,NaN,9.122790,426.549988,33.550362,56.673500,11.56,266.946838,12.708667,41.509998,NaN
2019-05-27 00:00:00-04:00,16.492294,102.654892,6.627897,NaN,NaN,NaN,8.835093,407.500000,31.849915,55.181499,11.89,259.857330,12.344000,40.410000,NaN
2019-06-03 00:00:00-04:00,17.444817,102.775780,6.618107,NaN,NaN,NaN,9.057827,406.750000,33.903824,53.301998,13.87,271.544159,13.633333,44.160000,NaN

In [7]:
data2 = pd.DataFrame(data['Adj Close'])
data2.dropna(how='all', axis=1, inplace=True)

In [8]:
data2.head()

,ABB,AGG,DB,EURUSD=X,EXSA.DE,F,GD=F,GM,GOOG,SNAP,SPY,TSLA,UBER,VOW3.DE
Date,,,,,,,,,,,,,,
2019-05-06 00:00:00-04:00,16.746504,101.046242,7.573730,NaN,NaN,9.633222,435.649994,36.196560,58.213501,10.49,271.968994,15.968000,41.570000,NaN
2019-05-13 00:00:00-04:00,17.218025,101.381027,7.294647,NaN,NaN,9.549695,442.600006,35.346336,58.115002,11.49,269.835510,14.068667,41.910000,NaN
2019-05-20 00:00:00-04:00,17.081949,101.734367,6.909706,NaN,NaN,9.122790,426.549988,33.550362,56.673500,11.56,266.946838,12.708667,41.509998,NaN
2019-05-27 00:00:00-04:00,16.492294,102.654892,6.627897,NaN,NaN,8.835093,407.500000,31.849915,55.181499,11.89,259.857330,12.344000,40.410000,NaN
2019-06-03 00:00:00-04:00,17.444817,102.775780,6.618107,NaN,NaN,9.057827,406.750000,33.903824,53.301998,13.87,271.544159,13.633333,44.160000,NaN

In [9]:
data2.to_csv(r'C:\Users\sijie.li\stocklist3.csv', sep='\t', index=True,header=True)